[Unit]
Description=S0ultilz Telegram bot (Instagram downloader)
After=network.target

[Service]
Type=simple
User=root
Group=root

EnvironmentFile=/etc/s0ultilz-bot/s0ultilz-bot.env
ExecStart=/usr/local/bin/s0ultilz-bot

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
